<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from nest-frontend-v6.netlify.app/index-4 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2024 08:57:25 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8" />
    <title>Nest - Vuln Settings</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="css/plugins/slider-range.css" />
    <link rel="stylesheet" href="css/main5103.css?v=6.0" />
</head>

<body>
    <%- include("partials/header/header") %>

    <% if(typeof(update) != "undefined") { %>
        <div class="register-ok">
            <p><%= update.message %></p>
        </div>
    <% } %>

    <p class="h1 text-center" style="margin-top: 50px;">Settings Vulnerability</p>
    <div class="container my-5 set-vul">
        <form action="/settings" method="post" id="settingform">
            <div class="row">
                <% if (!settings) { %>
                    <p class="h3">No data!</p>
                <% } else { %>
                    <% settings.forEach((setting) => { %>
                        <div class="col-4">
                            <div class="input-group mb-3" style="height: 40px;">
                                <label class="input-group-text vul-name" style="height: 100%;" for="<%= setting.id%>"><%= setting.name %></label>
                                <select class="vul-select" style="height: 100%;" id="<%= setting.id%>" name="<%= setting.id%>" form="settingform">
                                    <% if(setting.name=="JWT") {%>
                                        <% if (setting.status == "No") { %>
                                            <option value="No" selected>No</option>
                                            <option value="No-Alg">No Alg</option>
                                        <% } else {%>
                                            <option value="No-Alg" selected>No Alg</option>
                                            <option value="No">No</option>
                                        <% } %>
                                    <% }else{%>
                                        <% if (setting.status == "Yes") { %>
                                            <option value="No">No</option>
                                            <option value="Yes" selected>Yes</option>
                                        <% } else {%>
                                            <option value="No" selected>No</option>
                                            <option value="Yes">Yes</option>
                                        <% } %>
                                    <% }%>
                                </select>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            
            </div>
            <div class="d-flex justify-content-center" style="margin-top: 20px;">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
    <!-- Preloader Start -->
    <!-- Vendor JS-->
    <script src="js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="js/vendor/jquery-3.6.0.min.js"></script>
    <script src="js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="js/vendor/bootstrap.bundle.min.js"></script>
    <script src="js/plugins/slick.js"></script>
    <script src="js/plugins/jquery.syotimer.min.js"></script>
    <script src="js/plugins/wow.js"></script>
    <script src="js/plugins/slider-range.js"></script>
    <script src="js/plugins/perfect-scrollbar.js"></script>
    <script src="js/plugins/magnific-popup.js"></script>
    <script src="js/plugins/select2.min.js"></script>
    <script src="js/plugins/waypoints.js"></script>
    <script src="js/plugins/counterup.js"></script>
    <script src="js/plugins/jquery.countdown.min.js"></script>
    <script src="js/plugins/images-loaded.js"></script>
    <script src="js/plugins/isotope.js"></script>
    <script src="js/plugins/scrollup.js"></script>
    <script src="js/plugins/jquery.vticker-min.js"></script>
    <script src="js/plugins/jquery.theia.sticky.js"></script>
    <script src="js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="js/main5103.js?v=6.0"></script>
    <script src="js/shop5103.js?v=6.0"></script>
</body>


<!-- Mirrored from nest-frontend-v6.netlify.app/index-4 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2024 08:57:26 GMT -->
</html>