<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from nest-frontend-v6.netlify.app/index-4 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2024 08:57:25 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8" />
    <title>Nest - Vuln Settings</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="css/plugins/slider-range.css" />
    <link rel="stylesheet" href="css/main5103.css?v=6.0" />
</head>

<body>
    <%- include("partials/header/header") %>

    <% if(typeof(update) != "undefined") { %>
        <div class="register-ok">
            <p><%= update.message %></p>
        </div>
    <% } %>

    <p class="h1 text-center" style="margin-top: 50px; margin-bottom: 70px;">Settings Vulnerability</p>
    <div class="container my-5 set-vul">
        <form action="/settings" method="post" id="settingform">
            <div class="row">
                <% if (!settings) { %>
                    <p class="h3">No data!</p>
                <% } else { %>
                    <% settings.forEach((setting) => { %>
                        <div class="col-4">
                            <div class="input-group mb-3" style="height: 40px;">
                                <label class="input-group-text vul-name" style="height: 100%;" for="<%= setting.id %>"><%= setting.name %></label>
                                <select class="vul-select" style="height: 100%;" id="<%= setting.id %>" name="<%= setting.id %>" form="settingform">
                                    <% if(setting.name=="JWT") { %>
                                        <% if (setting.status == "No") { %>
                                            <option value="No" selected>No</option>
                                            <option value="None-Alg">None Alg</option>
                                            <option value="Weak-Key">Weak-Key</option>
                                            <option value="Algo-Confusion">Algo-Confusion</option>
                                        <% } else if(setting.status == "None-Alg") { %>
                                            <option value="None-Alg" selected>None Alg</option>
                                            <option value="No">No</option>
                                            <option value="Weak-Key">Weak-Key</option>
                                            <option value="Algo-Confusion">Algo-Confusion</option>
                                        <% } else if(setting.status == "Weak-Key") { %>
                                            <option value="Weak-Key" selected>Weak-Key</option>
                                            <option value="None-Alg">None Alg</option>
                                            <option value="No">No</option>
                                            <option value="Algo-Confusion">Algo-Confusion</option>
                                        <% } else if(setting.status == "Algo-Confusion") { %>
                                            <option value="Algo-Confusion" selected>Algo-Confusion</option>
                                            <option value="Weak-Key">Weak-Key</option>
                                            <option value="None-Alg">None Alg</option>
                                            <option value="No">No</option>
                                        <% } %>
                                    <% } else if(setting.name == "SQLI") { %>
                                        <% if(setting.status == "No") { %> 
                                            <option value="No" selected>No</option>
                                            <option value="Login">Login</option>
                                            <option value="Blind SQLI">Blind SQLI</option>
                                        <% } else if(setting.status == "Login") { %>
                                            <option value="No">No</option>
                                            <option value="Login" selected>Login</option>
                                            <option value="Blind SQLI">Blind SQLI</option>
                                        <% } else { %>
                                            <option value="No">No</option>
                                            <option value="Login">Login</option>
                                            <option value="Blind SQLI" selected>Blind SQLI</option>
                                        <% } %>
                                    <% } else if(setting.name == "XSS") { %>
                                        <% if(setting.status == "No") { %> 
                                            <option value="No" selected>No</option>
                                            <option value="Stored XSS">Stored XSS</option>
                                        <% } else { %>
                                            <option value="No">No</option>
                                            <option value="Stored XSS" selected>Stored XSS</option>
                                        <% } %>
                                    <% } else if(setting.name == "Broken Authentication") { %>
                                        <% if(setting.status == "No") { %> 
                                            <option value="No" selected>No</option>
                                            <option value="Easy">Easy</option>
                                            <option value="Block Account">Block Account</option>
                                            <option value="Block IP">Block IP</option>
                                        <% } else if(setting.status == "Easy") { %>
                                            <option value="No">No</option>
                                            <option value="Easy" selected>Easy</option>
                                            <option value="Block Account">Block Account</option>
                                            <option value="Block IP">Block IP</option>
                                        <% } else if(setting.status == "Block Account") { %>
                                            <option value="No">No</option>
                                            <option value="Easy">Easy</option>
                                            <option value="Block Account" selected>Block Account</option>
                                            <option value="Block IP">Block IP</option>
                                        <% } else { %>
                                            <option value="No">No</option>
                                            <option value="Easy">Easy</option>
                                            <option value="Block Account">Block Account</option>
                                            <option value="Block IP" selected>Block IP</option>
                                        <% } %>
                                    <% } else if(setting.name == "Path Traversal") { %>
                                        <% if(setting.status == "No") { %> 
                                            <option value="No" selected>No</option>
                                            <option value="Easy">Easy</option>
                                            <option value="Medium">Medium</option>
                                        <% } else if(setting.status == "Easy") { %>
                                            <option value="No">No</option>
                                            <option value="Easy" selected>Easy</option>
                                            <option value="Medium">Medium</option>
                                        <% } else { %>
                                            <option value="No">No</option>
                                            <option value="Easy">Easy</option>
                                            <option value="Medium" selected>Medium</option>
                                        <% } %>
                                    <% } else if(setting.name == "OS Command Injection") { %>
                                        <% if(setting.status == "No") { %> 
                                            <option value="No" selected>No</option>
                                            <option value="Easy">Easy</option>
                                            <option value="Medium">Medium</option>
                                            <option value="Hard">Hard</option>
                                        <% } else if(setting.status == "Easy") { %>
                                            <option value="No">No</option>
                                            <option value="Easy" selected>Easy</option>
                                            <option value="Medium">Medium</option>
                                            <option value="Hard">Hard</option>
                                        <% } else if(setting.status == "Medium"){ %>
                                            <option value="No">No</option>
                                            <option value="Easy">Easy</option>
                                            <option value="Medium" selected>Medium</option>
                                            <option value="Hard">Hard</option>
                                        <% } else {%>
                                            <option value="No">No</option>
                                            <option value="Easy">Easy</option>
                                            <option value="Medium">Medium</option>
                                            <option value="Hard" selected>Hard</option>
                                        <% } %>
                                    <% } else { %>
                                        <% if (setting.status == "Yes") { %>
                                            <option value="No">No</option>
                                            <option value="Yes" selected>Yes</option>
                                        <% } else { %>
                                            <option value="No" selected>No</option>
                                            <option value="Yes">Yes</option>
                                        <% } %>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    <% }) %> 
                <% } %>
            </div>
            <div class="d-flex justify-content-center" style="margin-top: 20px;">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <img src="imgs/theme/loading.gif" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="js/vendor/jquery-3.6.0.min.js"></script>
    <script src="js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="js/vendor/bootstrap.bundle.min.js"></script>
    <script src="js/plugins/slick.js"></script>
    <script src="js/plugins/jquery.syotimer.min.js"></script>
    <script src="js/plugins/wow.js"></script>
    <script src="js/plugins/slider-range.js"></script>
    <script src="js/plugins/perfect-scrollbar.js"></script>
    <script src="js/plugins/magnific-popup.js"></script>
    <script src="js/plugins/select2.min.js"></script>
    <script src="js/plugins/waypoints.js"></script>
    <script src="js/plugins/counterup.js"></script>
    <script src="js/plugins/jquery.countdown.min.js"></script>
    <script src="js/plugins/images-loaded.js"></script>
    <script src="js/plugins/isotope.js"></script>
    <script src="js/plugins/scrollup.js"></script>
    <script src="js/plugins/jquery.vticker-min.js"></script>
    <script src="js/plugins/jquery.theia.sticky.js"></script>
    <script src="js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="js/main5103.js?v=6.0"></script>
    <script src="js/shop5103.js?v=6.0"></script>
</body>


<!-- Mirrored from nest-frontend-v6.netlify.app/index-4 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2024 08:57:26 GMT -->
</html>