<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from nest-frontend-v6.netlify.app/index-4 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2024 08:57:25 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8" />
    <title>Nest - Vuln Settings</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="css/plugins/slider-range.css" />
    <link rel="stylesheet" href="css/main5103.css?v=6.0" />
</head>

<body>
    <header class="header-area header-style-1 header-height-2">
        <div class="mobile-promotion"><span>Grand opening, <strong>up to 15%</strong> off all items. Only <strong>3 days</strong> left</span></div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href='/'><img src="imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="#">
                                <select class="select-active">
                                    <option>All Categories</option>
                                    <option>Milks and Dairies</option>
                                    <option>Wines & Alcohol</option>
                                    <option>Clothing & Beauty</option>
                                    <option>Pet Foods & Toy</option>
                                    <option>Fast food</option>
                                    <option>Baking material</option>
                                    <option>Vegetables</option>
                                    <option>Fresh Seafood</option>
                                    <option>Noodles & Rice </option>
                                    <option>Ice cream</option>
                                </select>
                                <input type="text" placeholder="Search for items...">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="search-location">
                                    <form action="#">
                                        <select class="select-active">
                                            <option>Your Location</option>
                                            <option>Alabama</option>
                                            <option>Alaska</option>
                                            <option>Arizona</option>
                                            <option>Delaware</option>
                                            <option>Florida</option>
                                            <option>Georgia</option>
                                            <option>Hawaii</option>
                                            <option>Indiana</option>
                                            <option>Maryland</option>
                                            <option>Nevada</option>
                                            <option>New Jersey</option>
                                            <option>New Mexico</option>
                                            <option>New York</option>
                                        </select>
                                    </form>
                                </div>
                                <div class="header-action-icon-2">
                                    <a href='shop-compare'>
                                        <img class="svgInject" alt="Nest" src="imgs/theme/icons/icon-compare.svg" />
                                        <span class="pro-count blue">3</span>
                                    </a>
                                    <a href='shop-compare'><span class="lable ml-0">Compare</span></a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a href='shop-wishlist'>
                                        <img class="svgInject" alt="Nest" src="imgs/theme/icons/icon-heart.svg" />
                                        <span class="pro-count blue">6</span>
                                    </a>
                                    <a href='shop-wishlist'><span class="lable">Wishlist</span></a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class='mini-cart-icon' href='shop-cart'>
                                        <img alt="Nest" src="imgs/theme/icons/icon-cart.svg" />
                                        <span class="pro-count blue">2</span>
                                    </a>
                                    <a href='shop-cart'><span class="lable">Cart</span></a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                        <ul>
                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href='shop-product-right'><img alt="Nest" src="imgs/shop/thumbnail-3.jpg" /></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href='shop-product-right'>Daisy Casual Bag</a></h4>
                                                    <h4><span>1 × </span>$800.00</h4>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="#"><i class="fi-rs-cross-small"></i></a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href='shop-product-right'><img alt="Nest" src="imgs/shop/thumbnail-2.jpg" /></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href='shop-product-right'>Corduroy Shirts</a></h4>
                                                    <h4><span>1 × </span>$3200.00</h4>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="#"><i class="fi-rs-cross-small"></i></a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="shopping-cart-footer">
                                            <div class="shopping-cart-total">
                                                <h4>Total <span>$4000.00</span></h4>
                                            </div>
                                            <div class="shopping-cart-button">
                                                <a class='outline' href='shop-cart'>View cart</a>
                                                <a href='shop-checkout'>Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-action-icon-2">
                                    <a href='page-account'>
                                        <img class="svgInject" alt="Nest" src="imgs/theme/icons/icon-user.svg" />
                                    </a>
                                    <a href='page-account'><span class="lable ml-0">Account</span></a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                        <ul>
                                            <li><a href='page-account'><i class="fi fi-rs-user mr-10"></i>My Account</a></li>
                                            <li><a href='page-account'><i class="fi fi-rs-location-alt mr-10"></i>Order Tracking</a></li>
                                            <li><a href='page-account'><i class="fi fi-rs-label mr-10"></i>My Voucher</a></li>
                                            <li><a href='shop-wishlist'><i class="fi fi-rs-heart mr-10"></i>My Wishlist</a></li>
                                            <li><a href='page-account'><i class="fi fi-rs-settings-sliders mr-10"></i>Setting</a></li>
                                            <li><a href='page-login'><i class="fi fi-rs-sign-out mr-10"></i>Sign out</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <% if(typeof(update) != "undefined") { %>
        <div class="register-ok">
            <p><%= update.message %></p>
        </div>
    <% } %>

    <p class="h1 text-center" style="margin-top: 50px; margin-bottom: 70px;">Settings Vulnerability</p>
    <div class="container my-5 set-vul">
        <form action="/settings" method="post" id="settingform">
            <div class="row">
                <% if (!settings) { %>
                    <p class="h3">No data!</p>
                <% } else { %>
                    <% settings.forEach((setting) => { %>
                        <div class="col-4">
                            <div class="input-group mb-3" style="height: 40px;">
                                <label class="input-group-text vul-name" style="height: 100%;" for="<%= setting.id %>"><%= setting.name %></label>
                                <select class="vul-select" style="height: 100%;" id="<%= setting.id %>" name="<%= setting.id %>" form="settingform">
                                    <% if(setting.name=="JWT") { %>
                                        <% if (setting.status == "No") { %>
                                            <option value="No" selected>No</option>
                                            <option value="None-Alg">None Alg</option>
                                            <option value="Weak-Key">Weak-Key</option>
                                            <option value="Algo-Confusion">Algo-Confusion</option>
                                        <% } else if(setting.status == "None-Alg") { %>
                                            <option value="None-Alg" selected>None Alg</option>
                                            <option value="No">No</option>
                                            <option value="Weak-Key">Weak-Key</option>
                                            <option value="Algo-Confusion">Algo-Confusion</option>
                                        <% } else if(setting.status == "Weak-Key") { %>
                                            <option value="Weak-Key" selected>Weak-Key</option>
                                            <option value="None-Alg">None Alg</option>
                                            <option value="No">No</option>
                                            <option value="Algo-Confusion">Algo-Confusion</option>
                                        <% } else if(setting.status == "Algo-Confusion") { %>
                                            <option value="Algo-Confusion" selected>Algo-Confusion</option>
                                            <option value="Weak-Key">Weak-Key</option>
                                            <option value="None-Alg">None Alg</option>
                                            <option value="No">No</option>
                                        <% } %>
                                    <% } else if(setting.name == "SQLI") { %>
                                        <% if(setting.status == "No") { %> 
                                            <option value="No" selected>No</option>
                                            <option value="Login">Login</option>
                                            <option value="Blind SQLI">Blind SQLI</option>
                                        <% } else if(setting.status == "Login") { %>
                                            <option value="No">No</option>
                                            <option value="Login" selected>Login</option>
                                            <option value="Blind SQLI">Blind SQLI</option>
                                        <% } else { %>
                                            <option value="No">No</option>
                                            <option value="Login">Login</option>
                                            <option value="Blind SQLI" selected>Blind SQLI</option>
                                        <% } %>
                                    <% } else if(setting.name == "XSS") { %>
                                        <% if(setting.status == "No") { %> 
                                            <option value="No" selected>No</option>
                                            <option value="Reflected XSS">Reflected XSS</option>
                                            <option value="Stored XSS">Stored XSS</option>
                                        <% } else if(setting.status == "Reflected XSS") { %>
                                            <option value="No">No</option>
                                            <option value="Reflected XSS" selected>Reflected XSS</option>
                                            <option value="Stored XSS">Stored XSS</option>
                                        <% } else { %>
                                            <option value="No">No</option>
                                            <option value="Reflected XSS">Reflected XSS</option>
                                            <option value="Stored XSS" selected>Stored XSS</option>
                                        <% } %>
                                    <% } else { %>
                                        <% if (setting.status == "Yes") { %>
                                            <option value="No">No</option>
                                            <option value="Yes" selected>Yes</option>
                                        <% } else { %>
                                            <option value="No" selected>No</option>
                                            <option value="Yes">Yes</option>
                                        <% } %>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    <% }) %> 
                <% } %>
            </div>
            <div class="d-flex justify-content-center" style="margin-top: 20px;">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <img src="imgs/theme/loading.gif" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="js/vendor/jquery-3.6.0.min.js"></script>
    <script src="js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="js/vendor/bootstrap.bundle.min.js"></script>
    <script src="js/plugins/slick.js"></script>
    <script src="js/plugins/jquery.syotimer.min.js"></script>
    <script src="js/plugins/wow.js"></script>
    <script src="js/plugins/slider-range.js"></script>
    <script src="js/plugins/perfect-scrollbar.js"></script>
    <script src="js/plugins/magnific-popup.js"></script>
    <script src="js/plugins/select2.min.js"></script>
    <script src="js/plugins/waypoints.js"></script>
    <script src="js/plugins/counterup.js"></script>
    <script src="js/plugins/jquery.countdown.min.js"></script>
    <script src="js/plugins/images-loaded.js"></script>
    <script src="js/plugins/isotope.js"></script>
    <script src="js/plugins/scrollup.js"></script>
    <script src="js/plugins/jquery.vticker-min.js"></script>
    <script src="js/plugins/jquery.theia.sticky.js"></script>
    <script src="js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="js/main5103.js?v=6.0"></script>
    <script src="js/shop5103.js?v=6.0"></script>
</body>


<!-- Mirrored from nest-frontend-v6.netlify.app/index-4 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2024 08:57:26 GMT -->
</html>